# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=toyota_db
DB_USER=user
DB_PASSWORD=airbyte



# Airbyte Configuration
AIRBYTE_HOST=
AIRBYTE_PORT=
AIRBYTE_USERNAME=
AIRBYTE_PASSWORD=


POSTGRES_CONNECTION_STRING=postgresql://user:airbyte@localhost:5432/toyota_db


# DBT Configuration
DBT_PROFILES_DIR=./dbt
DBT_PROJECT_DIR=./dbt

# Dagster Configuration
DAGSTER_HOME=./dagster_home

